h1, h2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    text-align: center;
    font-optical-sizing: auto;
    color: rgb(255, 250, 246);
}

h2 {
    font-size: 28px;
    text-align: left;
    color: rgb(56, 34, 15);
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;

    background: rgb(98, 74, 56);
    color:rgb(56, 34, 15);
    margin: 30px 50px 30px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* sections */
.bg-section {
    background: rgb(222, 202, 186);
    padding: 0px 25px 20px 25px;
}

.list-bg {
    background-color: rgb(255, 243, 233);
    border-color: rgb(209, 188, 172);
}

.btn-font {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    padding: 9px 5px 9px 5px;
}

.btn-red {
    background: rgb(181, 72, 72);
    border-color: rgb(181, 72, 72);
    border-radius: 10px;
    min-width: 75px;
} 
.btn-red:hover, .btn-red:active {
    background: rgb(133, 49, 49);
    border-color: rgb(133, 49, 49);
}

.btn-org {
    background: #dcaa64;
    border-color: #dcaa64;
    border-radius: 10px;
    min-width: 75px;
}
.btn-org:hover, .btn-org:active {
    background: #bb8a46;
    border-color: #bb8a46;
}

.btn-green {
    background: rgb(115, 121, 87);
    background: rgb(115, 121, 87);
    border-radius: 10px;
    color: white;
}
.btn-green:hover, .btn-tan:active {
    background: rgb(68, 73, 44);
    border-color:rgb(68, 73, 44);
    color: white;
}

.form-control {
    background-color: rgb(255, 250, 246);
}

.box-width {
    width: 400px;
}

